.container {
  width: 100%;
  height: 100%;
  // height: 17rem;
  aspect-ratio: 1;
  padding: 1.2rem;

  background: var(--white);
  border-radius: var(--borderRadius);
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .chartArea {
    flex-grow: 2;
  }

  .link {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
    letter-spacing: -25%;
    font-weight: 500;
    align-items: center;
    color: var(--darkOrange);
    cursor: pointer;
  }
}