.container {
  width: 100%;
  height: 100%;
  padding: 1.2rem 2rem;

  background: var(--white);
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .6rem;
  }

  // .content {
  //   display: flex;
  //   background: yellow;
  //   flex-direction: column;
  //   justify-content: space-between;
  // }

  .group_1 {
    flex-grow: 2;
    .group_2 {
      display: flex;
      align-items: center;
      gap: .6rem;
    
      .icon {
        font-size: 1.7rem;
      }
    }
  
    .heading {
      font-size: 3rem;
      font-weight: 600;
      margin: 0;
    }
  
    .description {
      color: var(--darkGray);
    }

  }
  
  .link {
    display: flex;
    gap: .5rem;
    font-size: 1rem;
    letter-spacing: -25%;
    font-weight: 500;
    align-items: center;
    color: var(--darkOrange);
    cursor: pointer;
  }
}