/* optional - to be used with tailwind */
/* we won't be using tailwind for this task to keep the styles clearly organized */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colours */
  --white: #fff;
  --black: #131313;
  --midGray: #7D7D7D;
  --darkOrange: #734A00;
  --orange: #FFA500;
  --lightGray: #F1F1F1;
  --lightOrange: #FFF7E8;
  --darkGray: #454545;
  --offWhite: #F6F6F3;
  --lightGreen: #25CD25;
  --darkRed: #B01212;
  --red: #EB5050;
  --midOrange: #FFCD71;
  --green: #008000;

  /* spacing variables */
  --borderRadius: 16px;
  --gap: 1.2rem;
}

:root {
  --bodyBgClr: var(--offWhite);
  --textClr: var(--black);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --bgClr: var(--black);
    --textClr: var(--offWhite);
  }
} */

body {
  margin: 0;
  padding: 0;

  color: var(--textClr);
  background: var(--bgClr);
}

* {
  box-sizing: border-box;
}