@use "@/utils/screenSizes" as screenSizes;

.nav {
  display: flex;
  width: 100%;
  padding: var(--gap);
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  
  @media screen and (min-width: screenSizes.$xl) {
    display: none;
  }

  .menuIcon {
    position: fixed;
    top: 3vh;
    right: 3vw;
    font-size: 2rem;
    z-index: 3;
  }
}

.appLayout {
  width: 100%;
  height: 90vh;
  @media screen and (min-width: screenSizes.$xl) {
    height: 100vh;
  }
  padding: var(--gap);
  
  // grid-template-columns: repeat(12, 1fr);
  
  @media screen and (min-width: screenSizes.$xl) {
    display: grid;
    // grid-template-columns: repeat(6, 1fr);
    grid-template-columns: .05fr .05fr .05fr .85fr;
    gap: var(--gap);
  }

  aside {
    transition: all .2s ease;
  }

  aside {
    position: fixed;
    z-index: 1;

    scale: 0 1;
    transform-origin: right center;
    right: 0;
    top: 0;
    height: 100vh;
  }

  aside[data-expanded=true] {
    width: 100%;
    scale: 1 1;
  }

  @media screen and (min-width: screenSizes.$xl) {

    aside {
      position: relative;
      top: 0;
      scale: 1 1;
      height: auto;
    }


    aside[data-expanded=false] {
      grid-column: 1 / 2;
  
      & + main {
        grid-column: 2 / -1;
      }
    }
  
    aside[data-expanded=true] {
      grid-column: 1 / 4;
  
      & + main {
        grid-column: 4 / -1;
      }
    }
  }

  main {
    width: 100%;

    @media screen and (min-width: screenSizes.$xl) {
      overflow-y: scroll;
    }

    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(14, 1fr);

    grid-auto-rows: 2rem;

    transition: all .5s ease;
    
    // card sizings
    .textVisualizationCard:first-child {
      grid-column: 1 / -1;
      grid-row: 1 / 6;
      
      @media screen and (min-width: screenSizes.$xl) {
        grid-row: 1 / 7;
        grid-column: 1 / 7;
      }
    }
    
    .textVisualizationCard:nth-child(2) {
      grid-column: 1 / -1;
      // grid-row: 1 / 6;
      grid-row: 6 / 11;
      
      @media screen and (min-width: screenSizes.$xl) {
        grid-row: 1 / 7;
        grid-column: 7 / 12;
      }
    }

    
    .meterVisualizationCard {
      grid-column: 1 / 7;
      grid-row: 26 / 30;
      
      @media screen and (min-width: screenSizes.$xl) {
        grid-row: 1 / 7;
        grid-column: 12 / -1;
      }
    }

    .customersCard {
      grid-column: 1 / -1;
      grid-row: 11 / 19;
      @media screen and (min-width: screenSizes.$xl) {
        grid-column: 1 / 9;
        grid-row: 7 / 20;
      }
    }
    
    .growthChartCard {
      grid-column: 1 / -1;
      grid-row: 19 / 26;
      @media screen and (min-width: screenSizes.$xl) {
        grid-column: 9 / -1;
        grid-row: 7 / 16;
      }
    }
    
    .topMonthCard {
      grid-column: 7 / -1;
      grid-row: 26 / 30;
      @media screen and (min-width: screenSizes.$xl) {
        grid-column: 9 / 11;
        grid-row: 16 / 20;
      }
    }
    
    .topYearCard {
      grid-column: 1 / 7;
      grid-row: 30 / 34;
      @media screen and (min-width: screenSizes.$xl) {
        grid-column: 11 / 13;
        grid-row: 16 / 20;
      }
    }
    
    .topBuyerCard {
      grid-column: 7 / -1;
      grid-row: 30 / 34;
      @media screen and (min-width: screenSizes.$xl) {
        grid-column: 13 / 15;
        grid-row: 16 / 20;
      }
    }
    
    .chatsCard {
      grid-column: 1 / -1;
      grid-row: 34 / 38;
      @media screen and (min-width: screenSizes.$xl) {
        grid-column: 1 / 6;
        grid-row: 20 / 26;
      }
    }
    
    .topStatesCard {
      grid-column: 1 / -1;
      grid-row: 38 / 45;
      @media screen and (min-width: screenSizes.$xl) {
        grid-column: 6 / 10;
        grid-row: 20 / 26;
      }
    }
    
    .newDealsCard {
      grid-column: 1 / -1;
      grid-row: 45 / 50;
      @media screen and (min-width: screenSizes.$xl) {
        grid-column: 10 / -1;
        grid-row: 20 / 26;
      }
    }
    
  }
}